<form class="d-flex" role="search" action="<%= user_index_path %>" method="get">
    <input class="form-control me-2" type="search" placeholder="Search User..." aria-label="Search" name="q" />
    <button class="btn btn-outline-success pt-1 pb-1 ps-3 pe-3" type="submit">Search</button>
</form>