/*********************************************/
/*              FOOTER CSS                  "/
/*********************************************/
.footer {
  background-color: #6C55A3;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  color: #fff;
}
.separator {
  height: 20px;
  background-color: #f7f7f7;
}