<!-- About Start -->
<section class="section bg-grey  mt-4" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <h2 class="highlight header-colorize text-uppercase mb-3">About Us</h2>
          <p class="text-sub size-14">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-center border mt-3 p-2">
      <div class="col-lg-5">
        <%= image_tag "person.jpg", class: "img-fluid mx-auto d-block w-50 h-50", alt: "About header image" %>
      </div>

      <div class="col-lg-6 offset-lg-0">
        <div class="text-sub mt-5 mt-lg-0">
          <h3 class="title font-weight-medium mb-4">A perfect bootstrap theme for all types of business.</h3>

          <p class="mb-4 size-15">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          </p>

          <p class="mb-4 size-15">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos.
          </p>

          <a href="#" class="learn-more size-15">
            Learn more
            <span class="ml-2 right-icon">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
