<div class="container">
    <h1>Pages#privacy</h1>
    <p class="text-sub size-15">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</div>


